#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PolarWindPlot Demonstration Skin</title>
    <style type='text/css'>
      table, td, th {
        border: thin solid black;
      }
      td.no_bottom_border {
        border-bottom: none;
      }
      td.no_top_border {
        border-top: none;
      }
    </style>
  </head>

  <body>
    <h1>Polar Wind Plot Generator Demonstration Skin</h1>
    Plots generated: $current.dateTime
    <table>
      <tbody>
        <tr>
          <th colspan="4"><h2>Demonstration polar wind plots</h2></th>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="dayrose.png" alt="dayrose.png"></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Scatter</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="dayscatter.png" alt="dayscatter.jpg"></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Spiral</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="dayspiral.png" alt="dayspiral.png"></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Trail</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="daytrail.png" alt="daytrail.png"></td>
        </tr>
      </tbody>
    </table>

  </body>

</html>
