#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PolarWindPlot Test Skin</title>
    <style type='text/css'>
      table, td, th {
        border: thin solid black;
      }
      td.no_bottom_border {
        border-bottom: none;
      }
      td.no_top_border {
        border-top: none;
      }
    </style>
  </head>

  <body>
    <h1>Polar Wind Plot Generator Test Skin</h1>
    Plots generated: $current.dateTime
    <table>
      <tbody>
        <tr>
          <th colspan="4"><h2>Out of box defaults</h2></th>
        </tr>
        <tr>
          <td class="no_bottom_border">Default wind rose</td>
          <td class="no_bottom_border">Default scatter</td>
          <td class="no_bottom_border">Default spiral</td>
          <td class="no_bottom_border">Default trail</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultrose.png" alt="Defaultrose.png"></td>
          <td class="no_top_border"><img src="Defaultscatter.png" alt="Defaultscatter.jpg"></td>
          <td class="no_top_border"><img src="Defaultspiral.png" alt="Defaultspiral.png"></td>
          <td class="no_top_border"><img src="Defaulttrail.png" alt="Defaulttrail.png"></td>
        </tr>
        <tr>
          <th colspan=4><h2>Common Options</h2></th>
        </tr>
        <tr>
          <td colspan=4><h3>Image Size</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wide</td>
          <td class="no_bottom_border">Tall</td>
          <td class="no_bottom_border">Square</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Widerose.png" alt="Widerose.png"></td>
          <td class="no_top_border"><img src="Tallrose.png" alt="Widerose.png"></td>
          <td class="no_top_border"><img src="Squarerose.png" alt="Widerose.png"></td>
        </tr>
        <tr>
          <td colspan=4><h3>Background Image</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">With background</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Backgroundspiral.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Timestamp Location</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">top, left</td>
          <td class="no_bottom_border">top, center</td>
          <td class="no_bottom_border">top, right</td>
          <td class="no_bottom_border">top, center with label</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="TSTLrose.png" alt=""></td>
          <td class="no_top_border"><img src="TSTCrose.png" alt=""></td>
          <td class="no_top_border"><img src="TSTRrose.png" alt=""></td>
          <td class="no_top_border"><img src="TSTCLabelrose.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">bottom, left</td>
          <td class="no_bottom_border">bottom, center</td>
          <td class="no_bottom_border">bottom, right</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="TSBLrose.png" alt=""></td>
          <td class="no_top_border"><img src="TSBCrose.png" alt=""></td>
          <td class="no_top_border"><img src="TSBRrose.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Timestamp</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">Defined</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="TSDefaultscatter.png" alt=""></td>
          <td class="no_top_border"><img src="TSDefinedscatter.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Label</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">5pt Red</td>
          <td class="no_bottom_border">30pt LimeGreen</td>
          <td class="no_bottom_border">20pt Blue</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="LabelDefaultscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Label5scatter.png" alt=""></td>
          <td class="no_top_border"><img src="Label30scatter.png" alt=""></td>
          <td class="no_top_border"><img src="Label20scatter.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Legend</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose no legend</td>
          <td class="no_bottom_border">Spiral no legned</td>
          <td class="no_bottom_border">Trail no legend</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="NoLegendrose.png" alt=""></td>
          <td class="no_top_border"><img src="NoLegendspiral.png" alt=""></td>
          <td class="no_top_border"><img src="NoLegendtrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose with legend</td>
          <td class="no_bottom_border">Spiral with legned</td>
          <td class="no_bottom_border">Trail with legend</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Legendrose.png" alt=""></td>
          <td class="no_top_border"><img src="Legendspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Legendtrail.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Polar Rings</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">5 (default)</td>
          <td class="no_bottom_border">10</td>
          <td class="no_bottom_border">4</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultrose.png" alt=""></td>
          <td class="no_top_border"><img src="rings5scatter.png" alt=""></td>
          <td class="no_top_border"><img src="rings10spiral.png" alt=""></td>
          <td class="no_top_border"><img src="rings4trail.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h3>Period</h3></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose 1 hour</td>
          <td class="no_bottom_border">Scatter 1 hour</td>
          <td class="no_bottom_border">Spiral 1 hour</td>
          <td class="no_bottom_border">Trail 1 hour</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Period1hrrose.png" alt=""></td>
          <td class="no_top_border"><img src="Period1hrscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Period1hrspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Period1hrtrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose 1 day</td>
          <td class="no_bottom_border">Scatter 1 day</td>
          <td class="no_bottom_border">Spiral 1 day</td>
          <td>Trail 1 day</td>
        </td class="no_bottom_border">
        <tr>
          <td class="no_top_border"><img src="Period1dayrose.png" alt=""></td>
          <td class="no_top_border"><img src="Period1dayscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Period1dayspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Period1daytrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose 1 week</td>
          <td class="no_bottom_border">Scatter 1 week</td>
          <td class="no_bottom_border">Spiral 1 week</td>
          <td class="no_bottom_border">Trail 1 week</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Period1wkrose.png" alt=""></td>
          <td class="no_top_border"><img src="Period1wkscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Period1wkspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Period1wktrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose 1 month</td>
          <td class="no_bottom_border">Scatter 1 month</td>
          <td class="no_bottom_border">Spiral 1 month</td>
          <td class="no_bottom_border">Trail 1 month</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Period1morose.png" alt=""></td>
          <td class="no_top_border"><img src="Period1moscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Period1mospiral.png" alt=""></td>
          <td class="no_top_border"><img src="Period1motrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Wind rose 1 year</td>
          <td class="no_bottom_border">Scatter 1 year</td>
          <td class="no_bottom_border">Spiral 1 year</td>
          <td class="no_bottom_border">Trail 1 year</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Period1yrrose.png" alt=""></td>
          <td class="no_top_border"><img src="Period1yrscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Period1yrspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Period1yrtrail.png" alt=""></td>
        </tr>
        <tr>
          <th colspan=4><h3>Wind Rose Specific</h3></th>
        </tr>
        <tr>
          <td colspan=4><h4>Petal width</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">1</td>
          <td class="no_bottom_border">0.8 (default)</td>
          <td class="no_bottom_border">0.5</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultrose.png" alt=""></td>
          <td class="no_top_border"><img src="pwidth1rose.png" alt=""></td>
          <td class="no_top_border"><img src="pwidth08rose.png" alt=""></td>
          <td class="no_top_border"><img src="pwidth05rose.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Petals</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">16 (Default)</td>
          <td class="no_bottom_border">8</td>
          <td class="no_bottom_border">4</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultrose.png" alt=""></td>
          <td class="no_top_border"><img src="petals16rose.png" alt=""></td>
          <td class="no_top_border"><img src="petals8rose.png" alt=""></td>
          <td class="no_top_border"><img src="petals4rose.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">2</td>
          <td class="no_bottom_border">32</td>
          <td class="no_bottom_border">360</td>
          <td class="no_bottom_border">9</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="petals2rose.png" alt=""></td>
          <td class="no_top_border"><img src="petals32rose.png" alt=""></td>
          <td class="no_top_border"><img src="petals360rose.png" alt=""></td>
          <td class="no_top_border"><img src="petals9rose.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Bullseye</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">0.01</td>
          <td class="no_bottom_border">0.05</td>
          <td class="no_bottom_border">0.1 (Default)</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultrose.png" alt=""></td>
          <td class="no_top_border"><img src="bullseye001rose.png" alt=""></td>
          <td class="no_top_border"><img src="bullseye005rose.png" alt=""></td>
          <td class="no_top_border"><img src="bullseye01rose.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">0.2</td>
          <td class="no_bottom_border">0.8</td>
          <td class="no_bottom_border">1.0</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="bullseye02rose.png" alt=""></td>
          <td class="no_top_border"><img src="bullseye08rose.png" alt=""></td>
          <td class="no_top_border"><img src="bullseye10rose.png" alt=""></td>
        </tr>
        <tr>
          <th colspan=4><h3>WindScatter/Spiral/Trail</h3></th>
        </tr>
        <tr>
          <td colspan=4><h4>Marker type</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">Dot</td>
          <td class="no_bottom_border">Circle</td>
          <td class="no_bottom_border">Cross</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Dot4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Circle4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Cross4spiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">X</td>
          <td class="no_bottom_border">Box</td>
          <td class="no_bottom_border">None</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="X4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Box4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Nonespiral.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Marker size</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">X4</td>
          <td class="no_bottom_border">X1</td>
          <td class="no_bottom_border">X0</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="X4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="X1spiral.png" alt=""></td>
          <td class="no_top_border"><img src="X0spiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Box4</td>
          <td class="no_bottom_border">Box1</td>
          <td class="no_bottom_border">Box0</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Box4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Box1spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Box0spiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Cross4</td>
          <td class="no_bottom_border">Cross1</td>
          <td class="no_bottom_border">Cross0</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Cross4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Cross1spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Cross0spiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Circle4</td>
          <td class="no_bottom_border">Circle1</td>
          <td class="no_bottom_border">Circle0</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Circle4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Circle1spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Circle0spiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Dot4</td>
          <td class="no_bottom_border">Dot1</td>
          <td class="no_bottom_border">Dot0 (a single pixel)</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Dot4spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Dot1spiral.png" alt=""></td>
          <td class="no_top_border"><img src="Dot0spiral.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Line type</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">spoke</td>
          <td class="no_bottom_border">straight</td>
          <td class="no_bottom_border">radial</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Spokescatter.png" alt=""></td>
          <td class="no_top_border"><img src="Straightscatter.png" alt=""></td>
          <td class="no_top_border"><img src="Radialscatter.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">none</td>
          <td class="no_bottom_border">null</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="nonelinescatter.png" alt=""></td>
          <td class="no_top_border"><img src="nulllinescatter.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">straight</td>
          <td class="no_bottom_border">radial</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Straightspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Radialspiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">none</td>
          <td class="no_bottom_border">null</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="nonelinespiral.png" alt=""></td>
          <td class="no_top_border"><img src="nulllinespiral.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">straight</td>
          <td class="no_bottom_border">radial</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Default1hrttrail.png" alt=""></td>
          <td class="no_top_border"><img src="Straighttrail.png" alt=""></td>
          <td class="no_top_border"><img src="Radialtrail.png" alt=""></td>
        </tr>
        <tr>
          <td class="no_bottom_border">none</td>
          <td class="no_bottom_border">null</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="nonelinetrail.png" alt=""></td>
          <td class="no_top_border"><img src="nulllinetrail.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Line width</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">1 (default)</td>
          <td class="no_bottom_border">2</td>
          <td class="no_bottom_border">4</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultscatter.png" alt=""></td>
          <td class="no_top_border"><img src="W1scatter.png" alt=""></td>
          <td class="no_top_border"><img src="W2spiral.png" alt=""></td>
          <td class="no_top_border"><img src="W4Radialtrail.png" alt=""></td>
        </tr>
        <tr>
          <th colspan=4><h3>WindScatter Specific</h3></th>
        </tr>
        <tr>
          <th colspan=4><h3>WindSpiral Specific</h3</th>
        </tr>
        <tr>
          <td colspan=4><h4>Centre</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">oldest (default)</td>
          <td class="no_bottom_border">newest</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Oldestspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Newestspiral.png" alt=""></td>
        </tr>
        <tr>
          <td colspan=4><h4>Axis label</h4></td>
        </tr>
        <tr>
          <td class="no_bottom_border">Default</td>
          <td class="no_bottom_border">%-d %b</td>
          <td class="no_bottom_border">%-d</td>
          <td class="no_bottom_border">%a</td>
        </tr>
        <tr>
          <td class="no_top_border"><img src="Defaultspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Yraxisspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Moaxisspiral.png" alt=""></td>
          <td class="no_top_border"><img src="Wkaxisspiral.png" alt=""></td>
        </tr>
      </tbody>
    </table>

  </body>

</html>
