#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PolarWindPlot Test Skin</title>
  </head>

  <body>
    <h1>PolarWindPlot Test Skin</h1>
    <table border="1">
      <tbody>
        <tr>
          <th colspan="99">Out of box defaults</th>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /></td>
          <td><img src="Defaultscatter.png"   alt="" /></td>
          <td><img src="Defaultspiral.png"   alt="" /></td>
          <td><img src="Defaulttrail.png"   alt="" /></td>
        </tr>
        <tr>
          <th colspan=4>Common Options</th>
        </tr>
        <tr>
          <td colspan=4>Image Size</td>
        </tr>
        <tr>
          <td><img src="Widerose.png"   alt="" /><br>Wide</td>
          <td><img src="Tallrose.png"   alt="" /><br>Tall</td>
          <td><img src="Squarerose.png"   alt="" /><br>Square</td>
        </tr>
        <tr>
          <td colspan=4>image_background_image</td>
        </tr>
        <tr>
          <td><img src="Backgroundspiral.png"   alt="" /><br>With background</td>
        </tr>
        <tr>
          <td colspan=4>time_stamp_location</td>
        </tr>
        <tr>
          <td><img src="TSTLrose.png"   alt="" /><br>top, left</td>
          <td><img src="TSTCrose.png"   alt="" /><br>top, center</td>
          <td><img src="TSTRrose.png"   alt="" /><br>top, right</td>
        </tr>
        <tr>
          <td>&nbsp</td>
          <td><img src="TSTCLabelrose.png"   alt="" /><br>top, center with label</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="TSBLrose.png"   alt="" /><br>bottom, left</td>
          <td><img src="TSBCrose.png"   alt="" /><br>bottom, center</td>
          <td><img src="TSBRrose.png"   alt="" /><br>bottom, right</td>
        </tr>
        <tr>
          <td colspan=4>time_stamp</td>
        </tr>
        <tr>
          <td><img src="TSDefaultscatter.png"   alt="" /><br>Default</td>
          <td><img src="TSDefinedscatter.png"   alt="" /><br>Defined</td>
        </tr>
        <tr>
          <td colspan=4>LABEL</td>
        </tr>
        <tr>
          <td colspan=4>label</td>
        </tr>
        <tr>
          <td><img src="LabelDefaultscatter.png"   alt="" /><br>Default</td>
          <td><img src="Label5scatter.png"   alt="" /><br>5pt RED</td>
          <td><img src="Label30scatter.png"   alt="" /><br>30pt LimeGreen</td>
          <td><img src="Label20scatter.png"   alt="" /><br>20pt Blue</td>
        </tr>
        <tr>
          <td colspan=4>LEGEND</td>
        </tr>
        <tr>
          <td colspan=4>polar_rings</td>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /><br>Default</td>
          <td><img src="rings5scatter.png"   alt="" /><br>5 (default)</td>
          <td><img src="rings10spiral.png"   alt="" /><br>10</td>
          <td><img src="rings4trail.png"   alt="" /><br>4</td>
        </tr>
        <tr>
          <th colspan=4>WindRose Specific</th>
        </tr>
        <tr>
          <td colspan=4>Petal_width</td>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /><br>Default</td>
          <td><img src="pwidth1rose.png"   alt="" /><br>1</td>
          <td><img src="pwidth08rose.png"   alt="" /><br>0.8 (default)</td>
          <td><img src="pwidth05rose.png"   alt="" /><br>0.5</td>
        </tr>
        <tr>
          <td colspan=4>Petals</td>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /><br>Default</td>
          <td><img src="petals16rose.png"   alt="" /><br>16 (Default)</td>
          <td><img src="petals8rose.png"   alt="" /><br>8 (default)</td>
          <td><img src="petals4rose.png"   alt="" /><br>4</td>
        </tr>
        <tr>
          <td><img src="petals2rose.png"   alt="" /><br>2</td>
          <td><img src="petals32rose.png"   alt="" /><br>32</td>
          <td><img src="petals360rose.png"   alt="" /><br>360</td>
          <td><img src="petals9rose.png"   alt="" /><br>9</td>
        </tr>
        <tr>
          <td colspan=4>Bullseye</td>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /><br>Default</td>
          <td><img src="bullseye001rose.png"   alt="" /><br>0.01</td>
          <td><img src="bullseye005rose.png"   alt="" /><br>0.05</td>
          <td><img src="bullseye01rose.png"   alt="" /><br>0.1 (Default)</td>
        </tr>
         <tr>
          <td><img src="bullseye02rose.png"   alt="" /><br>0.2</td>
          <td><img src="bullseye08rose.png"   alt="" /><br>0.8</td>
          <td><img src="bullseye10rose.png"   alt="" /><br>1.0</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <th colspan=4>WindScatter/Spiral/Trail</th>
        </tr>
        <tr>
          <td colspan=4>marker_type</td>
        </tr>
        <tr>
          <td><img src="Defaultspiral.png"   alt="" /><br>Default</td>
          <td><img src="Dot4spiral.png"   alt="" /><br>Dot</td>
          <td><img src="Circle4spiral.png"   alt="" /><br>Circle</td>
          <td><img src="Cross4spiral.png"   alt="" /><br>Cross</td>
        </tr>
        <tr>
          <td><img src="X4spiral.png"   alt="" /><br>X</td>
          <td><img src="Box4spiral.png"   alt="" /><br>Box</td>
          <td><img src="Nonespiral.png"   alt="" /><br>None</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td colspan=4>marker_size</td>
        </tr>
        <tr>
          <td><img src="X4spiral.png"   alt="" /><br>X4</td>
          <td><img src="X1spiral.png"   alt="" /><br>X1</td>
          <td><img src="X0spiral.png"   alt="" /><br>X0</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Box4spiral.png"   alt="" /><br>Box4</td>
          <td><img src="Box1spiral.png"   alt="" /><br>Box1</td>
          <td><img src="Box0spiral.png"   alt="" /><br>Box0</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Cross4spiral.png"   alt="" /><br>Cross4</td>
          <td><img src="Cross1spiral.png"   alt="" /><br>Cross1</td>
          <td><img src="Cross0spiral.png"   alt="" /><br>Cross0</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Circle4spiral.png"   alt="" /><br>Circle4</td>
          <td><img src="Circle1spiral.png"   alt="" /><br>Circle1</td>
          <td><img src="Circle0spiral.png"   alt="" /><br>Circle0</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Dot4spiral.png"   alt="" /><br>Dot4</td>
          <td><img src="Dot1spiral.png"   alt="" /><br>Dot1</td>
          <td><img src="Dot0spiral.png"   alt="" /><br>Dot0<br>A single pixel</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td colspan=4>line_style</td>
        </tr>
        <tr>
          <td><img src="Defaultscatter.png"   alt="" /><br>Default</td>
          <td><img src="Spokescatter.png"   alt="" /><br>spoke</td>
          <td><img src="Straightscatter.png"   alt="" /><br>straight</td>
          <td><img src="Radialscatter.png"   alt="" /><br>radial</td>
        </tr>
        <tr>
          <td><img src="nonelinescatter.png"   alt="" /><br>none</td>
          <td><img src="nulllinescatter.png"   alt="" /><br>null</td>
          <td>&nbsp</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Defaultspiral.png"   alt="" /><br>Default</td>
          <td>&nbsp</td>
          <td><img src="Straightspiral.png"   alt="" /><br>straight</td>
          <td><img src="Radialspiral.png"   alt="" /><br>radial</td>
        </tr>
        <tr>
          <td><img src="nonelinespiral.png"   alt="" /><br>none</td>
          <td><img src="nulllinespiral.png"   alt="" /><br>null</td>
          <td>&nbsp</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td><img src="Default1hrttrail.png"   alt="" /><br>Default</td>
          <td>&nbsp</td>
          <td><img src="Straighttrail.png"   alt="" /><br>straight</td>
          <td><img src="Radialtrail.png"   alt="" /><br>radial</td>
        </tr>
        <tr>
          <td><img src="nonelinetrail.png"   alt="" /><br>none</td>
          <td><img src="nulllinetrail.png"   alt="" /><br>null</td>
          <td>&nbsp</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td colspan=4>line_width</td>
        </tr>
        <tr>
          <td><img src="Defaultscatter.png"   alt="" /><br>Default</td>
          <td><img src="W1scatter.png"   alt="" /><br>1 (default)</td>
          <td><img src="W2spiral.png"   alt="" /><br>2</td>
          <td><img src="W4Radialtrail.png"   alt="" /><br>4</td>
        </tr>
        <tr>
          <th colspan=4>WindScatter Specific</th>
        </tr>
        <tr>
          <th colspan=4>WindSpiral Specific</th>
        </tr>
        <tr>
          <td colspan=4>centre</td>
        </tr>
        <tr>
          <td><img src="Defaultspiral.png"   alt="" /><br>Default</td>
          <td><img src="Oldestspiral.png"   alt="" /><br>oldest (default)</td>
          <td><img src="Newestspiral.png"   alt="" /><br>newest</td>
        </tr>
        <tr>
          <th colspan=4>WindTrail Specific</th>
        </tr>
      </tbody>
    </table>

</body>

</html>
