#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PolarWindPlot Test Skin</title>
  </head>

  <body>
    <h1>PolarWindPlot Test Skin</h1>
    <table border="1">
      <tbody>
        <tr>
          <th colspan="99">Out of box defaults</th>
        </tr>
        <tr>
          <td><img src="Defaultrose.png"   alt="" /></td>
          <td><img src="Defaultscatter.png"   alt="" /></td>
          <td><img src="Defaultspiral.png"   alt="" /></td>
          <td><img src="Defaulttrail.png"   alt="" /></td>
        </tr>
        <tr>
          <td span=4>Common Options</td>
        </tr>
        <tr>
          <td span=4>WindRose Specific</td>
        </tr>
        <tr>
          <td span=4>WindScatter Specific</td>
        </tr>
        <tr>
          <td span=4>WindSpiral Specific</td>
        </tr>
        <tr>
          <td span=4>WindTrail Specific</td>
        </tr>
      </tbody>
    </table>

</body>

</html>
